<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload CSV and Radar Chart</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    #uploadForm {
      margin: 20px;
    }
    #chart-container {
      display: flex;
      flex-wrap: wrap;
    }
    .chart {
      margin: 20px;
    }
    .radarCircle {
      fill-opacity: 0.8;
    }
    .legend {
      font-size: 12px;
    }
    .legend rect {
      width: 18px;
      height: 18px;
    }
  </style>
</head>
<body>
  <h1>Upload CSV and Display Radar Chart</h1>
<form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file"id="fileInput" name="file" accept=".csv" required>
    <input type="text" name="cure_choice" placeholder="Cure Choice (optional)">
    <button type="submit">Upload</button>
</form>

  <div id="chart-container"></div>

  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>


</body>
</html>
